node_modules/
.env

# Ignore environment files
*.env
*.pyc
__pycache__/

# Node.js dependencies
queueease-frontend/node_modules/

# Python virtual environment
queueease-backend/env/
queueease-backend/venv/

# Django migrations
queueease-backend/**/migrations/
